;
; sms.conf.sample
;
; This file hold user customization of the http sms originate and termination.
; This is a php ini file. Luckily its syntax is similar to other asterisk conf files.
; "yes" and "no" have to be within quotation marks otherwise they will be 
; interpreted as Boolean. 
; Section headers can be omitted, as they are purely decorative.
;

[sms]
;sms_inifile="/etc/asterisk/sms.conf"	;user provided conf file overiding values below
;sms_host="https://api.twilio.com"	;protocol and host name to send sms to
;sms_path="/2010-04-01/Accounts/xxx/Messages.json"	;complete url will be <sms_host><sms_path>
;sms_key_to="To"	;http POST key name holding sms destination phone number
;sms_key_from="From"	;http POST key name holding sms orignating phone number
;sms_key_body="Body"	;http POST key name holding the sms message
;sms_auth_user="usename"	;
;sms_auth_passwd="pwdorsecretkey"	;
;sms_auth_method="basic"	;eg "zadarma" method to authenticate sms request
;sms_resp_test="" ;

[smsd]
;smsd_outgoingdir="/var/spool/asterisk/outgoing" ;
;smsd_stagingdir="/var/spool/asterisk/staging" ;
;smsd_filemode="" ;
;smsd_fileowner="" ;
;smsd_waittime=45 ;
;smsd_maxretries=0 ;
;smsd_retrytime=300 ;
;smsd_archive="no" ;
;smsd_exten_context="default" ;
;smsd_message_context="default" ;
;smsd_priority=1 ;
;smsd_key_to="To" ;
;smsd_key_from="From" ;
;smsd_key_body="Body" ;
;smsd_key_echo=null ;
;smsd_key_account=null ;
;smsd_resp_success=""
