;
; websms.conf.sample
;
; This file hold user customization of the websms originate and termination.
; This is a php ini file. Luckily its syntax is similar to other asterisk conf files.
; "yes" and "no" have to be within quotation marks otherwise they will be 
; interpreted as Boolean.
;

;[websms]
;auth_method     = basic   ;eg "plain", "zadarma" method to authenticate sms request
;auth_secret     = ""      ;authentication password/secret
;auth_user       = ""      ;authentication username/key
;key_body        = Body    ;http POST key name holding the sms message
;key_from        = From    ;http POST key name holding sms originating phone number
;key_secret      = ""      ;http POST key name holding the password/secret when using auth_method=plain
;key_to          = To      ;http POST key name holding sms destination phone number
;key_user        = ""      ;http POST key name holding the username/key when using auth_method=plain
;resp_check      = ""      ;http POST key=value to check, eg "status=success"
;url_host        = http://localhost  ;scheme and host, eg https://api.expmple.com
;url_path        = /       ;complete url will be <url_host><url_path>
;val_numform     = ""      ;eg E164; omit leading + and 0 in phone numbers, or E123
;val_static      = ""      ;comma separated key=value pairs to add
;val_unicode     = ""      ;set to "UCS-2" to limit Unicode characters to U+FFFF

;[websmsd]
;key_body        = Body    ;http POST key name holding the sms message
;key_echo        = ""      ;some ITSP test that the client respond by echoing it value, eg "zd_echo"
;key_from        = From    ;http POST key name holding sms origination phone number
;key_to          = To      ;http POST key name holding sms destination phone number
;prox_addr       = 172.16.0.0/12 ;Trust "prox_header" from these IPs, eg 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
;prox_header     = HTTP_X_FORWARDED_FOR ;Behind a proxy this header hold the real client IP
;remt_addr       = ""      ;if defined, only listed addrs are accepted, eg 185.45.152.42,3.104.90.0/24,3.1.77.0/24
;resp_ack        = ""      ;report success, eg, "<Response></Response>"
;url_path        = ""      ;if defined, only listed URIs are accepted, eg /,/trunk1. URIs must start with "/".

;[astqueue]
;outgoingdir     = /var/spool/asterisk/outgoing ;directory where asterisk picks up call files
;stagingdir      = /var/spool/asterisk/staging  ;create call file here and then move to outgoing
;waittime        = 45      ;how many seconds to wait for an answer before the call fails
;maxretries      = 0       ;number of retries before failing. 0 = don't retry if fails
;retrytime       = 300     ;how many seconds to wait before retry
;archive         = "no"    ;"yes" = save call file to /var/spool/asterisk/outgoing_done
;channel_context = default ;dialplan context to answer the call, ie set up the channel
;context         = default ;dialplan context to handle the sms
;priority        = 1       ;dialplan priority to handle the sms
;message_encode  = rfc3986 ;only single line allowed in call file so url-encoding message
